.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
  }
  &__image {
    .image__container{
      height: 20rem;
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
  }
  &__intro {
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2;
    p:first-child {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      font-weight: bold;
    }
    a {
      text-decoration: none;
    }
  }
  &__popular {
    margin-top: auto;
    margin-bottom: 3rem;
    .popular__container {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      flex-wrap: wrap;
      margin-top: auto;
    }
  }
  &__btn {
    background-color: rgb(43, 91, 195);
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 10px;
    align-self: flex-start;
    color: #fff;
    font-style: italic;
    font-size: 1.2rem;
    &:hover{
      background-color: #3771ed;
    }
  }  
}

@media(max-width: 768px){
  .home{
    gap: 1rem;
    &__intro {
      font-size: 1.2rem;
      gap: 0;
      p:first-child {
        font-size: 1.8rem;
      }
    }
    &__image {
      .image__container{
        height: 15rem;
      }
    }
  }
}
@media(max-width: 425px){
  .home{
    gap: .5rem;
    &__intro {
      font-size: 1rem;
      gap: 0;
      p:first-child {
        font-size: 1.3rem;
      }
    }
    &__btn {
      padding: .5rem 1.2rem;
      border-radius: 5px;
      font-size: 1rem;
    }  
    &__image {
      .image__container{
        height: 10rem;
      }
    }
  }
}
