.posts{
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
    }
    &__heading{
        font-size: 3rem;
    }
}

@media(max-width: 768px){
    .posts{
        h1{
            font-size: 2rem;
        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            gap: 3vw;
        }
    }
  }
@media(max-width: 425px){
    .posts{
        h1{
            font-size: 1.8rem;
        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            gap: 5vw;
        }
    }
  }