@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './sass/mixins.scss';
@import './sass/variables.scss';
@import './sass/components/Home.scss';
@import './sass/components/BlogCard.scss';
@import './sass/components/Posts.scss';
@import './sass/components/ProgressBar.scss';
@import './sass/components/SinglePost.scss';

//RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  position: relative;
  line-height: 1.5;
  margin: 0;
  background-color: $color-background;
  color: $color-text;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p:has(code){
  display: inline;
}

code{
  padding: .1rem;
}
